<a href="https://colab.research.google.com/github/jhostynbp/proyect/blob/master/Proceso_de_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROCESO DE ETL**

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# **CREAR SESION DE SPARK**

**SparkSession** nos permite crear una entrada de programacion para poder manejar dataset y dataframe

**SparkContext** nos permite crear una conexion que va a ser utilizado para crear una RDD

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

spSession = SparkSession \
          .builder \
          .appName("Demo Spark") \
          .getOrCreate()

In [ ]:
SpContext = spSession.sparkContext

# CARGA DE **DATO**

In [ ]:
#entrar al repositorio
path = "/content/drive/MyDrive/PruebasPy/"

In [ ]:
data = spSession.read.csv(path +'cars.csv', header = True , sep =";")
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

# **CONOCIENDO LA DATA**

In [ ]:
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [ ]:
data.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

# **SELECCION DE COLUMNAS**

In [ ]:
#METODO 1

#TRUNCATE NO CORTA LOS DATOS
data.select(data.Car).show(truncate = False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [ ]:
#METODO 2

data.select(data['Car']).show(truncate = False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [ ]:
#METODO 3

#para utilizar el col
from pyspark.sql.functions import col

data.select(col('car')).show(truncate = False)

+--------------------------------+
|car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

**seleccionar mas de una columna**

In [ ]:
#METODO 1 DE LA SELECCION MULTIPLE DE COLUMNA


data.select(data['car'], data.Cylinders).show(truncate = False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

In [ ]:
#METODO 2 DE LA SELECCION MULTIPLE DE COLUMNA


data.select(col('car'), col('Cylinders')).show(truncate = False)

+--------------------------------+---------+
|car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

# **AGREGAR NUEVAS COLUMNAS**

In [ ]:
#CASO 1

#NOS VA A AYUDAR PARA DARLE UN VALOR ESPECIFICO A LAS COLUMNAS
from pyspark.sql.functions import lit

df = data.withColumn('First_Column',lit(1))
df.show(5,truncate = False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |1           |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |1           |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [ ]:
#CASO 2 - GUARDAMOS 2 COLOUMNAS

df = data.withColumn('Second_Column',lit(2)) \
          .withColumn('Third_Column', lit('Third Column'))
df.show(5,truncate = False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |2            |Third Column|
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |2            |Third Column|
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |2            |Third Column|
|Plymouth Satellite       |18.0  |8        |318.0       |150.0     |3436. |11.0        |70   |US    |2            |Third Column|
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |2            |Third Column|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

# **AGRUPACION POR COLUMNAS**

In [ ]:
df.groupBy('Origin').count().show(5,truncate = False)

+------+-----+
|Origin|count|
+------+-----+
|Europe|73   |
|US    |254  |
|CAT   |1    |
|Japan |79   |
+------+-----+

**MULTIPLES COLUMNAS**

In [ ]:
df.groupBy('Car','HorsePower','Origin').count().show(10,truncate = False)

+--------------------------+----------+------+-----+
|Car                       |HorsePower|Origin|count|
+--------------------------+----------+------+-----+
|Ford Mustang Boss 302     |140.0     |US    |1    |
|Oldsmobile Omega          |180.0     |US    |1    |
|Ford Pinto                |0         |US    |1    |
|AMC Gremlin               |100.0     |US    |3    |
|Plymouth Valiant Custom   |95.00     |US    |1    |
|Subaru DL                 |67.00     |Japan |2    |
|Buick Skyhawk             |110.0     |US    |1    |
|Pontiac J2000 SE Hatchback|85.00     |US    |1    |
|Ford Mustang GL           |86.00     |US    |1    |
|Toyota Corolla 1200       |65.00     |Japan |2    |
+--------------------------+----------+------+-----+
only showing top 10 rows

# **ELIMINAR COLUMNAS**

In [ ]:
df

DataFrame[Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string, Second_Column: int, Third_Column: string]

In [ ]:
df = df.drop('Second_Column','Third_Column')
df.show(10)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 10 rows

# **ORDENAR FILAR**

In [ ]:
df.orderBy('Horsepower' , ascending= False ).show(truncate = False)

+---------------------------+------+---------+------------+----------+------+------------+-----+------+
|Car                        |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+---------------------------+------+---------+------------+----------+------+------------+-----+------+
|STRING                     |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |
|Volvo 244DL                |22.0  |4        |121.0       |98.00     |2945. |14.5        |75   |Europe|
|Ford Grenada               |18.5  |6        |250.0       |98.00     |3525. |19.0        |77   |US    |
|Toyota Corolla Mark II (sw)|23.0  |4        |120.0       |97.00     |2506. |14.5        |72   |Japan |
|AMC Hornet                 |18.0  |6        |199.0       |97.00     |2774. |15.5        |70   |US    |
|Mazda RX2 Coupe            |19.0  |3        |70.00       |97.00     |2330. |13.5        |72   |Japan |
|Honda Civic                |24.0  |4        |120.0       |97.00     |2489. |15.0        |74   |Japan |
|Datsun 710                 |24.0  |4        |119.0       |97.00     |2545. |17.0        |75   |Japan |
|Ford Pinto                 |18.0  |6        |171.0       |97.00     |2984. |14.5        |75   |US    |
|Datsun 810                 |22.0  |6        |146.0       |97.00     |2815. |14.5        |77   |Japan |
|Datsun 510                 |27.2  |4        |119.0       |97.00     |2300. |14.7        |78   |Japan |
|Datsun 200-SX              |23.9  |4        |119.0       |97.00     |2405. |14.9        |78   |Japan |
|Toyota Corolla             |24.0  |4        |134.0       |96.00     |2702. |13.5        |75   |Japan |
|Plymouth Arrow GS          |25.5  |4        |122.0       |96.00     |2300. |15.5        |77   |US    |
|Toyota Celica GT           |32.0  |4        |144.0       |96.00     |2665. |13.9        |82   |Japan |
|Toyota Corolla Mark ii     |24.0  |4        |113.0       |95.00     |2372. |15.0        |70   |Japan |
|Plymouth Duster            |20.0  |6        |198.0       |95.00     |3102. |16.5        |74   |US    |
|Plymouth Duster            |23.0  |6        |198.0       |95.00     |2904. |16.0        |73   |US    |
|Saab 99e                   |25.0  |4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|Plymouth Duster            |22.0  |6        |198.0       |95.00     |2833. |15.5        |70   |US    |
+---------------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

OPERACION DE **CONTEO**

In [ ]:
df.groupBy('Origin').count().orderBy('count',ascending = False).show(10,truncate = False)

+------+-----+
|Origin|count|
+------+-----+
|US    |254  |
|Japan |79   |
|Europe|73   |
|CAT   |1    |
+------+-----+

# **FILTRADO DE DATOS**

In [ ]:
#VISUALIZAR CUANTOS REGISTROS HAY

total_count = df.count()
print ("Total de registros :" , total_count)

europa = df.filter(col('Origin') == "Europe").count()
print ("Total de registros en Europa:" , europa)


df.filter(col('Origin') == "Europe").show(truncate = False)

Total de registros : 407
Total de registros en Europa: 73
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|
|BMW 2002                    |26.0|4        |121.0       |113.0     |2234. |12.5        |70   |Europe|
|Volkswagen Super Beetle 117 |0   |4        |97.00       |48.00     |1978. |20.0        |71   |Europe|
|Opel 1900                   |28.0|4        |116.0       |90.00     |2123. |14.0        |71   |Europe|
|Peugeot 304                 |30.0|4        |79.00       |70.00     |2074. |19.5        |71   |Europe|
|Fiat 124B                   |30.0|4        |88.00       |76.00     |2065. |14.5        |71   |Europe|
|Volkswagen Model 111        |27.0|4        |97.00       |60.00     |1834. |19.0        |71   |Europe|
|Volkswagen Type 3           |23.0|4        |97.00       |54.00     |2254. |23.5        |72   |Europe|
|Volvo 145e (sw)             |18.0|4        |121.0       |112.0     |2933. |14.5        |72   |Europe|
|Volkswagen 411 (sw)         |22.0|4        |121.0       |76.00     |2511. |18.0        |72   |Europe|
|Peugeot 504 (sw)            |21.0|4        |120.0       |87.00     |2979. |19.5        |72   |Europe|
|Renault 12 (sw)             |26.0|4        |96.00       |69.00     |2189. |18.0        |72   |Europe|
|Volkswagen Super Beetle     |26.0|4        |97.00       |46.00     |1950. |21.0        |73   |Europe|
|Fiat 124 Sport Coupe        |26.0|4        |98.00       |90.00     |2265. |15.5        |73   |Europe|
|Fiat 128                    |29.0|4        |68.00       |49.00     |1867. |19.5        |73   |Europe|
|Opel Manta                  |24.0|4        |116.0       |75.00     |2158. |15.5        |73   |Europe|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

FILTRADO CON MULTIPLES **CONDICIONES**

In [ ]:
#VISUALIZAR CUANTOS REGISTROS MULTIPLES HAY

total_count = df.count()
print ("Total de registros :" , total_count)

USA = df.filter((col('Origin') == "US") & (col('Horsepower') == "150.0"))
USA_Conteo = USA.count()

print ("Total de registros en US:" , USA_Conteo)



USA.show(truncate = False)



df.filter((col('Origin') == "US") & (col('Horsepower') >= "100.00")).show(truncate = False)

Total de registros : 407
Total de registros en US: 22
+------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                           |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Plymouth Satellite            |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST                 |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Chevrolet Monte Carlo         |15.0|8        |400.0       |150.0     |3761. |9.5         |70   |US    |
|Plymouth Fury iii             |14.0|8        |318.0       |150.0     |4096. |13.0        |71   |US    |
|Plymouth Fury III             |15.0|8        |318.0       |150.0     |4135. |13.5        |72   |US    |
|AMC Ambassador SST            |17.0|8        |304.0       |150.0     |3672. |11.5        |72   |US    |
|AMC Matador (sw)              |15.0|8        |304.0       |150.0     |3892. |12.5        |72   |US    |
|Plymouth Satellite Custom (sw)|14.0|8        |318.0       |150.0     |4077. |14.0        |72   |US    |
|AMC Matador                   |14.0|8        |304.0       |150.0     |3672. |11.5        |73   |US    |
|Dodge Coronet Custom          |15.0|8        |318.0       |150.0     |3777. |12.5        |73   |US    |
|Chevrolet Caprice Classic     |13.0|8        |400.0       |150.0     |4464. |12.0        |73   |US    |
|Plymouth Fury Gran Sedan      |14.0|8        |318.0       |150.0     |4237. |14.5        |73   |US    |
|Chevrolet Impala              |11.0|8        |400.0       |150.0     |4997. |14.0        |73   |US    |
|Dodge Dart Custom             |15.0|8        |318.0       |150.0     |3399. |11.0        |73   |US    |
|Buick Century Luxus (sw)      |13.0|8        |350.0       |150.0     |4699. |14.5        |74   |US    |
|Dodge Coronet Custom (sw)     |14.0|8        |318.0       |150.0     |4457. |13.5        |74   |US    |
|AMC Matador (sw)              |14.0|8        |304.0       |150.0     |4257. |15.5        |74   |US    |
|Plymouth Grand Fury           |16.0|8        |318.0       |150.0     |4498. |14.5        |75   |US    |
|Dodge Coronet Brougham        |16.0|8        |318.0       |150.0     |4190. |13.0        |76   |US    |
|Plymouth Volare Premier v8    |13.0|8        |318.0       |150.0     |3940. |13.2        |76   |US    |
+------------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341. |10.0        |70   |US    |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354. |9.0         |70   |US    |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312. |8.5         |70   |US    |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425. |10.0        |70   |US    |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850. |8.5         |70   |US    |
|Chevrolet Chevelle Concours (sw)|0   |8        |350.0       |165.0     |4142. |11.5        |70   |US    |
|Ford Torino (sw)                |0   |8        |351.0       |153.0     |4034. |11.0        |70   |US    |
|Plymouth Satellite (sw)         |0   |8        |383.0       |175.0     |4166. |10.5        |70   |US    |
|AMC Rebel SST (sw)              |0   |8        |360.0       |175.0     |3850. |11.0        |70   |US    |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563. |10.0        |70   |US    |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609. |8.0         |70   |US    |
|Ford Mustang Boss 302           |0   |8        |302.0       |140.0     |3353. |8.0         |70   |US    |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761. |9.5         |70   |US    |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086. |10.0        |70   |US    |
|Plymouth Duster                 |22.0|6        |198.0       |95.00     |2833. |15.5        |70   |US    |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows