<a href="https://colab.research.google.com/github/jhostynbp/proyect/blob/master/PYTHON_PRACTICANDO_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#--MODULO 2 --- ESTRUCTURA DE DATOS

#LISTAS

In [ ]:
Temperaturas_nombres = ["Brazil",23,"Mexico",21,"Peru",23]

In [ ]:
Temperaturas_nombres

['Brazil', 23, 'Mexico', 21, 'Peru', 23]

In [ ]:
#RECONOCE COM LISTA
type(Temperaturas_nombres)

list

In [ ]:
#LISTA DE LISTA}
#AGRUPAR
Temperatura_lista = [["Brazil",25],["Mexico",21],["Peru",23]]

In [ ]:
Temperatura_lista

[['Brazil', 25], ['Mexico', 21], ['Peru', 23]]

# OPERACIONES CON LISTAS

##SUB CONJUNTOS

In [ ]:
Temperaturas_nombres

['Brazil', 23, 'Mexico', 21, 'Peru', 23]

In [ ]:
#INDICE 1 EXTRAE EL PRIMER ELEMENTO DE LA LISTA
Temperaturas_nombres[0]

'Brazil'

In [ ]:
#INDICE -1 EXTRAE EL ULTIMO ELEMENTO DE LA LISTA
Temperaturas_nombres[-1]

23

In [ ]:
#LISTA DE LISTA
Temperatura_lista

[['Brazil', 25], ['Mexico', 21], ['Peru', 23]]

In [ ]:
#EXTRAE EL SEGUNDO ELEMENTO DE LA PRIMERA LISTA Y LUEGO EL ELEMENTO 0 DE LA SEGUNDA
Temperatura_lista[2][0]

'Peru'

In [ ]:
#EXTRAE EL SEGUNDO ELEMENTO DE LA PRIMERA LISTA
Temperatura_lista[2]

['Peru', 23]

In [ ]:
#LISTA DE LISTA DE LISTA
Temperatura_lista = [["Brazil",25],["Mexico",[21,23,25]],["Peru",23]]

In [ ]:
#EXTRAE EL ELEMENTO 1 DE LA PRIMERA LISTA LUEGO EL ELEMENTO 1 DE LA SEGUNDA LISTA Y POR ULTIMO EL ELEMENTO 0 DE LA TERCERA LISTA
Temperatura_lista[1][1][0]

21

##PARTICIONES

In [ ]:
Temperaturas_nombres

['Brazil', 23, 'Mexico', 21, 'Peru', 23]

In [ ]:
#MUESTRA LOS ELEMENTOS DESDE EL PRIMER VALOR HASTA EL 3-1
Temperaturas_nombres[:3]

['Brazil', 23, 'Mexico']

In [ ]:
#MUESTRA LOS ELEMENTOS DESDE EL SEGUNDO VALOR HASTA EL ULTIMO
Temperaturas_nombres[2:]

['Mexico', 21, 'Peru', 23]

##MODIFICAR ELEMENTOS DE UNA LISTA

In [ ]:
Temperaturas_nombres

['Brazil', 23, 'Mexico', 21, 'Peru', 23]

In [ ]:
#ACTUALIZAR ALGUN VALOR
Temperaturas_nombres[1]=27
Temperaturas_nombres

['Brazil', 27, 'Mexico', 21, 'Peru', 23]

In [ ]:
#MODIFICAR PARTICIONES DE LAS LISTAS DESDE EL INDICE 0 AL 2
Temperaturas_nombres[0:2] = ["Colombia",18]
Temperaturas_nombres

['Colombia', 18, 'Mexico', 21, 'Peru', 23]

## AGREGAR ELEMENTOS DE UNA LISTA

In [ ]:
Temperatura_Ecuador = 19

In [ ]:
#AGREGAR UN VALOR A LA LISTA
Temperaturas_nombres + [Temperatura_Ecuador]

['Colombia', 18, 'Mexico', 21, 'Peru', 23, 19]

In [ ]:
#AGREGAR UNA PALABRA A LA LISTA
Temperaturas_nombres + ["Ecuador",Temperatura_Ecuador]

['Colombia', 18, 'Mexico', 21, 'Peru', 23, 'Ecuador', 19]

In [ ]:
#DIMENSION DE UNA LISTA
len(Temperaturas_nombres)

6

In [ ]:
#ACTUALIZAR UNA LISTA AGREGANDO VALORES
Temperaturas_nombres = Temperaturas_nombres + ["Ecuador",Temperatura_Ecuador]
Temperaturas_nombres

['Colombia', 18, 'Mexico', 21, 'Peru', 23, 'Ecuador', 19]

##ELIMINAR ELEMENTOS DE UNA LISTA

In [ ]:
#ELIMINAR ELEMENTO DE UNA LISTA EN LA POSICION 7
del(Temperaturas_nombres[7])
Temperaturas_nombres

['Colombia', 18, 'Mexico', 21, 'Peru', 23, 'Ecuador']

In [ ]:
#ELIMINAR ELEMENTO DE UNA LISTA EN LA POSICION 6
del(Temperaturas_nombres[6])
Temperaturas_nombres

['Colombia', 18, 'Mexico', 21, 'Peru', 23]

##COPIAR LISTAS

In [ ]:
#REALIZAR UNA COPIA DE MANERA CORRECTA
Temperatura_Copia = Temperaturas_nombres [:]
Temperatura_Copia

['Colombia', 18, 'Mexico', 21, 'Peru', 23]

In [ ]:
#REALIZAR UNA COPIA DE MANERA CORRECTA DE OTRA MANERA
Temperatura_Copia = list(Temperaturas_nombres)
Temperatura_Copia

['Colombia', 18, 'Mexico', 21, 'Peru', 23]

#DICCIONARIOS

##CREACION DE DICCIONARIOS

In [ ]:
#EL PRIMER ELEMENTO ES EL INDICE Y EL SEGUNDO ES EL VALOR

dicc_temp = {
    "Brazil": 25,
    "Mexico": 21,
    "Peru" : 23,
    "Ecuador" : 19
}

In [ ]:
dicc_temp

{'Brazil': 25, 'Mexico': 21, 'Peru': 23, 'Ecuador': 19}

In [ ]:
dicc_temp1 = {
    "Brazil": 25,
    "Mexico": [21,23,24,18,22,20,18],
    "Peru" : "Lima",
    "Ecuador" : 19
}

In [ ]:
dicc_temp1

{'Brazil': 25,
 'Mexico': [21, 23, 24, 18, 22, 20, 18],
 'Peru': 'Lima',
 'Ecuador': 19}

In [ ]:
#BUSCAR VALORES
dicc_temp["Mexico"]

21

In [ ]:
dicc_temp1["Mexico"]

[21, 23, 24, 18, 22, 20, 18]

##AGREGAR ELEMENTOS AL DICCIONARIO

In [ ]:
dicc_temp["Colombia"]=17
dicc_temp

{'Brazil': 25, 'Mexico': 21, 'Peru': 23, 'Ecuador': 19, 'Colombia': 17}

In [ ]:
dicc_temp ["Colombia"]

17

##ELIMINAR UN ELEMENTO DEL DICCIONARIO

In [ ]:
del dicc_temp["Ecuador"]
dicc_temp

{'Brazil': 25, 'Mexico': 21, 'Peru': 23, 'Colombia': 17}

## EVALUAR SI UN ELEMENTO ESTA EN EL DICCIONARIO

In [ ]:
"Ecuador" in dicc_temp

False

In [ ]:
"Mexico" in dicc_temp

True

## REVISAR LAS KEYS Y VALUES

In [ ]:
dicc_temp.keys()

dict_keys(['Brazil', 'Mexico', 'Peru', 'Colombia'])

In [ ]:
list(dicc_temp.keys())

['Brazil', 'Mexico', 'Peru', 'Colombia']

In [ ]:
dicc_temp.values()

dict_values([25, 21, 23, 17])

In [ ]:
list(dicc_temp.values())

[25, 21, 23, 17]